body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #111;  
    background: linear-gradient(-45deg, black, #720000, #440000, #000000);
    background-size: 500% 500%;
    animation: slowInferno 15s ease-in-out infinite;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    }
    @keyframes slowInferno {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }
    
    

section {
    padding: 20px;
}

header {
    background-color: rgba(0,0,0,0.3); /*makes the header opaque */ 
    backdrop-filter: blur(10px);
    display: flex;
    
    align-items: center; 
    padding:  15px; 
}

.logo{  /*  to mess with logo */
    width: 190px; 
    height: 65px;
}

header img {
    height: 45px; /* Adjust logo size */
    width: 65px;
    margin-right: 11px; /* Space between logo and text */
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

button {
    --color: #720000;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  button:hover:before {
    top: -30px;
    left: -30px;
  }
  
  button:active:before {
    background: #800101;
    transition: background 0s;
  }
  
